h1 {
  float: left;
  justify-content: center;
  color: brown;
  font-family: fantasy;
  font-size: xx-large;
  margin: 0px;
  text-shadow: 0px 0px 12px red;
  font-weight: bold;
  border: solid red 1px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  margin: 0;
}

h4 {
  color: white;
  float: right;
  padding: 10px;
  text-align: center;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;

}

img {
  padding: 0;
  border-style: solid;
  border-color: #000000;
}

div {
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: darkblue;
  background-color: cadetblue;
  margin: 5px;
}

button:hover {
  color: white;
  background-color: green;
}

