body {
  background-color: rgb(51, 116, 236);
}

/* contains styles for the nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #888888;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  font-size: x-large;
  padding: 8px;
  font-family: 'Anton', sans-serif;
  color: yellow;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(70, 53, 53, 0.406);
}

li:last-child:hover {
  background-color: inherit;
}

/* contains styles for the movie poster containers */

img {
  padding: 0;
  border-style: solid;
  border-color: #000000;
}

.poster {
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: darkblue;
  background-color: cadetblue;
  margin: 5px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  color: white;
  background-color: green;
}

/* contains styles for the video */

#video-div h2 {
  color: white;
}

iframe {
  color: black;
  display: inline;
  border: 3px solid black;
  padding: 15px;
  background-color: rgba(172, 87, 13, 0.934);
}



